.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 2.5px;
}

.slice .hidden-arc {
    fill: none;
}
.slice .main-arc:hover {
    opacity: 0.85;
    stroke: #fff;
    stroke-width: 5px;
    /* transition: opacity .2s; */
  }
.slice text {
    font-family: sans-serif;
    font-size: 13px;
    pointer-events: none;              
    text-anchor: middle;
}
  
div.tooltip {
      position: absolute;
      width: auto;
      max-width:  230px;
      height: auto;
      padding: 10px;
      display: none;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
}
       
div.tooltip p {
      margin: 0;
      font-family: sans-serif;
      font-size: 13px;
      line-height: 20px;
} 

